.ant-menu-dark{
    background: black;
}
.ant-menu-dark .ant-menu-item{
    color: white;
}
.ant-menu-dark .ant-menu-item-selected{
        background-color: #9d3600;
}
.ant-menu-item-icon{
    font-size: var(--sp-lg)!important;
}